<%- include("header") -%>

<body>
    <div class="box" id="heading">
        <h1> <%= listTitle %> </h1>
    </div>

    <div class="box">
        <% for( let index = 0; index < newEntries.length; index++ ) { %>
            <div class="item">
                <input type="checkbox">
                <p> <%= newEntries[index] %> </p>
            </div>
        <% } %>
        <form action="/" method="POST" class="item">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus>
            <button type="submit" name="list" value="<%= listTitle %>">+</button>
        </form>
    </div>
</body>

<%- include("footer") -%>
